.page-header {
  border-bottom: 2px solid rgba(0, 0, 0, 0.8);
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  svg {
    height: 100%;
    cursor: pointer;
    &:hover {
      path {
        fill: whitesmoke;
      }
    }

    &.in-dev {
      padding: 5px 0;
    }
  }
  .premium {
    padding-right: 0.7rem;
    color: rgba(240, 240, 240, 0.6);
    cursor: pointer;
    &:hover {
      color: rgba(240, 240, 240, 0.9);
    }
  }
}
